
.UserArea,.UserAreaClaimed {	
    min-width: 300;
    min-height: 100;
    border-style: dashed;
    border-width: thick;
    border-color: black;
    font-size: 24pt;
    font-family: monospace;
    font-weight: bold;
    overflow: hidden;
    background-color: gray;
    opacity: 0.6;
}

.UserAreaClaimed {
    background-color: yellow;
    opacity: 0.4;
}

.Shuffler {
    min-width: 170px;
    min-height: 170px;
    border-style: dotted;
    border-width: thick;
    text-align: center;
    opacity: 0.3;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-family: monospace;
    font-size: 36pt;
    overflow: hidden;
    border-radius: 50px;
    -moz-border-radius: 50px;
}

.DiscardDeck {
    min-width: 100px;
    min-height: 160px;
    border-style: dotted;
    border-width: thick;
    text-align: center;
    opacity: 0.7;
    color: white;
    background-color: green;
    overflow: hidden;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.DiscardDeckNum {
    text-align: center;
    opacity: 1;
    color: white;
    background-color: green;
    overflow: hidden;
    border-radius: 15px;
    -moz-border-radius: 15px;
}